# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo

node_modules
build
dist
*.local
out
.vitest
.envrc
.eslintcache
.browserslistrc
.electron-vendors.cache.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
