.chrome {
  text-align: center;
  background-color: #2f3241;
  border-bottom: 1px solid #5c5f71;
  -webkit-app-region: drag;
  height: 27px;
  font-size: 1.4rem;
  line-height: 15px;
}

small,
p,
span {
  user-select: none;
}

